@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'League Spartan', sans-serif;
}

body {
  background-color: #eee;
}

.logo {
  font-family: 'Amatic SC', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #111;
}